*{
    font-family: 'Montserrat';
    margin: 0px 0px 0px 0px;
    text-decoration: none;
  }

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  @media (max-width: 480px)  {

    body{
      background-image: url(../imagens/floresprodutosC.png);
      background-repeat: no-repeat;
      background-position-y: 90px;
    }
  
    header div a{
      color: transparent;
    }
  
    p{
      font-weight: 300;
    }
  
    .facet_sidebar{
      display: none;
    }


    #painel-menu { 
      width: 47vw;
      height: 310px;
      display: block;
      position: absolute;
      top: 0.1px;
      left: 53vw;
      z-index: 1;
      overflow: hidden;
      background-image: none;
      }
    
      #painel-menu a {
        text-decoration: none;
        color          : black;
      }

      #painel-menu input {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 15px;
        left: 33vw;
        cursor: pointer;
        opacity: 0;
        z-index: 3;
      }
    
      #painel-menu span {
        display         : block;
        width           : 9vw;
        height          : 1.4vw;
        margin-bottom   : 5px;
        border-radius   : 3px;
        background-color: rgb(250, 246, 246);
        position        : relative;
        top             : 6vw;
        left            : 35vw;
        transform-origin: 4px 0px;
        transition      : transform 0.7s ease;
        z-index         : 2;
      }
    
      #painel-menu span:first-child {
        transform-origin: 0 0;
      }
      #painel-menu span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    
      #painel-menu input:checked~span {
        opacity         : 1;
        transform       : rotate(45deg) translate(-0.04vw, -0.02vw);
        background-color: #FF87CF;
      }
    
      #painel-menu input:checked~span:nth-last-child(3) {
        opacity  : 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
    
      #painel-menu input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -0.02vw);
      }
    
      ul {
        list-style-type: none;
        position: absolute;
        width: 41vw;
        height: 200px;
        margin: -100px 0 0 -150px;
        padding: 105px 0 0 20px;
        background-color: white;
        border: solid 1px #FF87CF;
        transform-origin: 0 0;
        transform: translate(100%, 0);
        transition: transform 0.7s ease;
        left: 46vw;
      }
    
      ul li {
        padding  : 10px 0;
        font-size: 1rem;
      }
  
      #painel-menu input:checked~ul {
        transform: none;
      }
  
    #divisor { 
      background-color: #D7729B;
      height: 21px;
      width: 100vw;
      margin-top: 22px;
      margin-bottom: 22px;
    }
  
    .divheader{
      overflow: hidden;
      height: 19vw;
      background-color: #D7729B;
    } 
  
    body header nav div:first-child a:first-child img:first-child{
      width: 13.5vw;
      position: relative;
      top: 2vw;
      left: 1vw;
    }

    body header nav div:first-child  form:nth-child(2) img{
      width: 9vw;
      position: relative;
      left: 5vw;
      bottom: 10vw;
    }

    body header nav div:first-child  form:nth-child(2) input:first-child{
      opacity: 0;
      width: 9vw;
      height: 9vw;
      position: relative;
      left: 12vw;
      bottom: 10vw;
      z-index: 2;
    }

    body header nav div:first-child form:nth-child(2) input:nth-child(3){
      width: 0vw;
    }

    body header nav div:first-child form:nth-child(2) input:nth-child(3){
      display: none;
      position: relative;
      left: 5vw;
      bottom: 13.5vw;
      z-index: 3;
      border: 1px solid white;
      border-radius: 10px;
      height: 25px;
    }

    body header nav div:first-child form:nth-child(2) input:checked~input:nth-child(3){
      display: inline;
      transition: transform 0.7s ease;
      width: 33vw;
    }

    body header nav div:first-child a:nth-child(3) img{
      height: 20vw;
      position: absolute;
      top: -1vw;
      right: 43vw;
    }




        body main div:first-child article:first-child h1:first-child{
          font-weight: bold;
          font-size: 2.8125rem;
          margin-left: 06vw;
          margin-top: 34px;
          color: #A2185B;
        }
        body main div:first-child article:first-child h2:nth-child(2){
            font-weight: 500;
            font-size: 2.8125rem;
            margin-left: 06vw;
            color: #A2185B;
            margin-bottom: 50px;
            margin-top: 0.1px ;
            position: static;
        }
        body main div:first-child article:first-child img {
          width: 39vw;
          margin-left: 06vw;
          margin-bottom: 10px;
          margin-top: -90px;
        }

        body main div:first-child article:first-child img:nth-child(3){
          margin-top: 10px;
        }

        body main div:first-child article:first-child h2{
          font-size: 1.5rem;
          font-weight: 600;
          width: 52vw;
          position: relative;
          bottom: 190px;
          left: 46vw;
        }

        body main div:first-child article:first-child p:nth-child(4), p:nth-child(9), p:nth-child(14), p:nth-child(19), p:nth-child(24), p:nth-child(29), p:nth-child(34){
          font-weight: 500;
          font-size: 1.5rem;
          bottom: 200px;
          position: relative;
          bottom: 190px;
          left: 46vw;
        }

        body main div:first-child article:first-child p:nth-child(6), p:nth-child(11), p:nth-child(16), p:nth-child(21), p:nth-child(26), p:nth-child(31), p:nth-child(36) {
          font-size: 1.125rem;
          font-weight: 300;
          width: 52vw;
          position: relative;
          bottom: 190px;
          left: 46vw;
        }

        body main div:first-child article:first-child p:nth-child(7), p:nth-child(12), p:nth-child(17), p:nth-child(22), p:nth-child(27), p:nth-child(32), p:nth-child(37){
          font-size: 0.5rem;
          font-weight: 200;
          position: relative;
          bottom: 190px;
          left: 46vw;
          width: 40vw;
        }

        

        body main div:first-child article:first-child div:last-child{
        width: 83vw;
        height: 83px;
        font-size: 1.94rem;
        background-color: #A2185B; 
        border-radius: 40px;
        color: white;
        box-shadow: 0px 0px 16px 5px #f786c6;
        margin-left: 30px;
        margin-top: -80px;
        margin-bottom: 116px;
        }
        
        body main div:first-child article:first-child div:last-child a p{   
        text-align: center;
        color: white;
        font-size: 1.6875rem;
        margin-top: 15px;
        padding-top: 25px;
        margin-left: 0px;
      }

      hr{
        border-top: 5px dotted black;
        margin-bottom: 34px;
        margin-top: 30px;
        width: 79vw;
        margin-left: 10.5vw;
      }
  
  
      #anuncio{ 
        width: 100vw;
      }
  
      body footer {
        color: white;
        background-color: #D7729B;
        padding-left: 10px;
        padding-top: 20px;
      }
  
      body footer div:first-child a{
        text-decoration: none;
      }
  
      body footer div:first-child a img{
        width: 11vw;
        height: 11vw;
      }
  
      body footer div:first-child a:last-child img{
        width: 43vw;
        height: 57vw;
        margin-top: -59vw;
        margin-left: 54vw;
        margin-bottom: 25px;
      }
  
      body footer div:first-child h2:first-child{
        font-size: 2rem;
        font-weight: 200;
        width: 52vw;  
        margin-bottom: 20px;
      }
  
      body footer div:first-child address:nth-child(2) p:nth-child(3){
        margin-bottom: 20px;
        width: 57vw;
        margin-left: 0px;
        font-weight: 300;
        font-size: 1rem;
      }
    
      body footer div:first-child address:nth-child(2){
        width: 90vw;
        color: white;
      }
      
}

@media (min-width: 481px) and (max-width: 800px) {
  body {
    background-image: url(../imagens/floresprodutosT.png);
    background-repeat: no-repeat;
    background-position-y: 100px;
  }

  #painel-menu { 
    width: 47vw;
    height: 310px;
    display: block;
    position: absolute;
    top: 0.1px;
    left: 53vw;
    z-index: 1;
    overflow: hidden;
    background-image: none;
    }
  
    #painel-menu a {
      text-decoration: none;
      color          : black;
    }

    #painel-menu input {
      display: block;
      width: 4vw;
      height: 5vw;
      position: absolute;
      top: 3.5vw;
      left: 39vw;
      cursor: pointer;
      opacity: 0;
      z-index: 3;
    } 
  
    #painel-menu span {
      display         : block;
      width           : 4vw;
      height          : 6px;
      margin-bottom   : 10px;
      border-radius   : 3px;
      background-color: rgb(250, 246, 246);
      position        : relative;
      top             : 3.5vw;
      left            : 39vw;
      transform-origin: 4px 0px;
      transition      : transform 0.7s ease;
      z-index         : 2;
    }
  
    #painel-menu span:first-child {
      transform-origin: 0 0;
    }
    #painel-menu span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  
    #painel-menu input:checked~span {
      opacity: 1;
      width: 5vw;
      height: 10px;
      transform: rotate(44deg) translate(0.5vw, -0.4vw);
      background-color: #FF87CF;
    }
  
    #painel-menu input:checked~span:nth-last-child(3) {
      opacity  : 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
  
    #painel-menu input:checked~span:nth-last-child(2) {
      transform: rotate(-45deg) translate(2vw, -1.0199999999999996vw);
    }


  
    ul {
      list-style-type: none;
      position: absolute;
      width: 28vw;
      height: 200px;
      margin: -100px 0 0 -150px;
      padding: 105px 0 0 20px;
      background-color: white;
      border: solid 1px #FF87CF;
      transform-origin: 0 0;
      transform: translate(100%, 0);
      transition: transform 0.7s ease;
      font-size: 4.2vw;
      left: 36vw;
    }
  
    ul li {
      padding  : 10px 0;
      font-size: 22px;
    }

    #painel-menu input:checked~ul {
      transform: none;
    }  

    .divheader{
      background-color: #D7729B;
      width: 100vw;
      height: 100px;
    }

    body header nav div:first-child a{
      color: transparent;
    }

    body header nav div:first-child a:first-child img{ 
      width: 11vw;
      position: absolute;
      top: 1vw;
      left: 2vw;
    }

    body header nav div:first-child  form:nth-child(2) img{
      width: 7vw;
      position: relative;
      left: 4vw;
      top: 1vw;
    }

    body header nav div:first-child  form:nth-child(2) input:first-child{
      opacity: 0;
      width: 9vw;
      height: 9vw;
      position: relative;
      left: 12vw;
      top: 2vw;
      z-index: 2;
    }

    body header nav div:first-child form:nth-child(2) input:nth-child(3){
      width: 0vw;
    }

    body header nav div:first-child form:nth-child(2) input:nth-child(3){
      display: none;
      position: relative;
      left: 5vw;
      bottom: 2vw;
      z-index: 3;
      border: 1px solid white;
      border-radius: 10px;
      height: 25px;
    }

    body header nav div:first-child form:nth-child(2) input:checked~input:nth-child(3){
      display: inline;
      transition: transform 0.7s ease;
      width: 35vw;
    }
    

    body header nav div:first-child a:nth-child(3) img{
      position: absolute;
      top: -1vw;
      left: 45vw;
      width: 10vw;
    }

    body main div:first-child article:first-child h1:first-child {
      color: #A2185B;
      font-weight: 700;
      font-size: 2.5rem;
      text-align: center;
      margin-top: 65px;
      margin-bottom: 5px;
    }

    body main div:first-child article:first-child {
      display: block;
    }

    body main div:first-child article:first-child h2:nth-child(2){
      color: #A2185B;
      font-weight: 500;
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 5px;
      width: 40vw;
      margin-left: 30.5vw;
    }

    body main div:first-child article:first-child img {
      width: 22.5vw;
      margin-left: 23vw;
      margin-top: -65px;
    }


    body main div:first-child article:first-child img:nth-child(3){
      margin-top: 65px;
    }

    body main div:first-child article:first-child p:nth-child(4), p:nth-child(9), p:nth-child(14), p:nth-child(19), p:nth-child(24), p:nth-child(29), p:nth-child(34){
      font-weight: 500;
      font-size: 1.5rem;
      font-style: italic;
      color: #1B1B1D;
      position: relative;
      bottom: 170px;
      left: 47vw;
      width: 47vw;
    }

    body main div:first-child article:first-child h2:nth-child(5), h2:nth-child(10), h2:nth-child(15), h2:nth-child(20), h2:nth-child(25), h2:nth-child(30), h2:nth-child(35){
      font-weight: 600;
      font-size: 1.5rem;
      color: #1B1B1D;
      position: relative;
      bottom: 165px;
      left: 47vw;
      width: 47vw;
    }

    

    body main div:first-child article:first-child p:nth-child(6), p:nth-child(11), p:nth-child(16), p:nth-child(21), p:nth-child(26), p:nth-child(31), p:nth-child(36){
      font-weight: 300;
      font-size: 1.125rem;
      color: #1B1B1D;
      position: relative;
      bottom: 160px;
      left: 47vw;
      width: 40vw;
    }

    body main div:first-child article:first-child p:nth-child(7), p:nth-child(12), p:nth-child(17), p:nth-child(22), p:nth-child(27), p:nth-child(32), p:nth-child(37){
      font-weight: 100;
      font-size: 0.625rem;
      font-style: italic;
      color: #1B1B1D;
      position: relative;
      bottom: 155px;
      left: 47vw;
      width: 40vw;
    }

    body main div:first-child article:first-child div:last-child {
      background-color: #A2185B;
      width: 50vw;
      height: 70px;
      border: solid #A2185B;
      box-shadow: 3px 2px 35px #A2185B;
      border-radius: 50px;
      margin-left: 24vw;
      margin-top: -65px;
      margin-bottom: 127px;
    }

    body main div:first-child article:first-child div:last-child a:first-child p:first-child{
      color: white;
      font-size: 2rem;
      font-weight: 100;
      text-decoration: none;
      text-align: center;
      padding-top: 12px;
      position: static;
      width: auto;
    }



    
    #divisor { 
      background-color: #D7729B;
      height: 21px;
      width: 100vw;
      margin-top: 22px;
      margin-bottom: 22px;
    }


    #anuncio{
      width: 100vw;
      height: 25vw;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    hr{
      border-top: 5px dotted black;
      margin-bottom: 34px;
      margin-top: 30px;
      width: 80vw;
      margin-left: 9vw;
    }



    body footer div:first-child address:nth-child(2) p:first-child{
      margin-top: 25px;
      margin-bottom: -16px;
      font-size: 1rem;
    }


    body footer div:first-child address:nth-child(2) p:nth-child(3){
      margin-bottom: 4px;
      width: 68vw;
      margin-left: 0px;
      margin-top: 39px;
      font-size: 0.8rem;
    }

    body footer div:first-child a{
      text-decoration: none;
      margin-top: 50px;
    }

    body footer div:first-child a img{
      width: 05vw;
      height: 05vw;
      position: relative;
      top: -170px;
    }

    body footer div:first-child a:last-child img{
      width: 28vw;
      height: 230px;
      top: -175px;
      left: 47vw;
    }

    body footer div:first-child a:last-child {
      width: 1px;
    }

    body footer div:first-child address:nth-child(2){
      width: 50vw;
      color: white;
    }

    body footer div:first-child{
      padding-left: 02vw;
      padding-bottom: 4vw;
      color: white;
      background-color: #D7729B;
      height: 250px;
      overflow: hidden;
    }
    

    body footer div:first-child h2:first-child{
      font-size: 2.25rem; 
      width: 62vw;
      font-weight: 100;
      margin-top: 37px;
    }
}