*{
    margin: 0px 0px 0px 0px;
    font-family: 'Montserrat';
}


@media (max-width: 480px) {
    header div a{
        color: #D7729B;
      }
    
      p{
        font-weight: 300;
      }
    
      .facet_sidebar{
          display: none;
      }
      #painel-menu { 
        width: 47vw;
        height: 310px;
        display: block;
        position: absolute;
        top: 0.1px;
        left: 53vw;
        z-index: 1;
        overflow: hidden;
        }
      
        #painel-menu a {
          text-decoration: none;
          color          : black;
        }
        #painel-menu input {
          display: block;
          width: 40px;
          height: 40px;
          position: absolute;
          top: 15px;
          left: 33vw;
          cursor: pointer;
          opacity: 0;
          z-index: 3;
        }
      
        #painel-menu span {
          display         : block;
          width           : 9vw;
          height          : 1.4vw;
          margin-bottom   : 5px;
          border-radius   : 3px;
          background-color: rgb(250, 246, 246);
          position        : relative;
          top             : 3vw;
          left            : 33vw;
          transform-origin: 4px 0px;
          transition      : transform 0.7s ease;
          z-index         : 2;
        }
      
        #painel-menu span:first-child {
          transform-origin: 0 0;
        }
        #painel-menu span:nth-last-child(2) {
          transform-origin: 0% 100%;
        }
      
        #painel-menu input:checked~span {
          opacity         : 1;
          transform       : rotate(45deg) translate(-0.04vw, -0.02vw);
          background-color: #FF87CF;
        }
      
        #painel-menu input:checked~span:nth-last-child(3) {
          opacity  : 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
      
        #painel-menu input:checked~span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -0.02vw);
        }
      
        ul {
          list-style-type: none;
          position: absolute;
          width: 41vw;
          height: 200px;
          margin: -100px 0 0 -150px;
          padding: 105px 0 0 20px;
          background-color: white;
          border: solid 1px #FF87CF;
          transform-origin: 0 0;
          transform: translate(100%, 0);
          transition: transform 0.7s ease;
          font-size: 4.2vw;
          left: 43vw;
        }
      
        ul li {
          padding  : 10px 0;
          font-size: 22px;
        }
    
        #painel-menu input:checked~ul {
          transform: none;
        } 
      
      
          .divheader{
            width: 100vw;
            overflow: hidden;
            background-color: #D7729B;
          } 
    
    
          body header div:nth-child(3) img:first-child{
            width: 44vw;
            height: 50vw;
            margin-left: 29vw; 
            margin-top: 20px;
          }
    
          body header:first-child  div:first-child a:first-child img:first-child{
            margin-left: 0.4vw;
            width: 13.5vw;
            height: 13.5vw;
          }
          
          body header:first-child div:first-child a:nth-child(2) img:first-child{
            height: 17vw;
            width: 14vw;
            position: absolute;
            top: -7px;
            right: 42vw;
          }
          


          body main div:first-child div:first-child h3{
            font-size: 2.8125rem;
            font-weight: 300;
            color: #910012;
            margin-left: 06vw;
            margin-top: 30px;
          }
          body main div:first-child div:first-child h1{
            font-size: 2.8125rem;
            font-weight: bold;
            color: #910012;
            margin-left: 6vw;
          }

          body main div:first-child article:nth-child(3) h3:first-child{
            font-size: 2.5rem;
            color: #1B1B1D;
            font-weight: 300;
            margin-left: 06vw;
          }

          body main div:first-child article:nth-child(3) h2:nth-child(2){
            font-size: 2.5rem;
            color: #1B1B1D;
            font-weight: bold;
            margin-left: 06vw;
          }

          body main div:first-child article:nth-child(3) p:nth-child(3){
            font-size: 1.3125rem;
            font-weight: 300;
            margin-left: 6vw;
            margin-top: 20px;
            width: 85vw;
          }

          body main div:first-child article:nth-child(3) img:nth-child(4){
            width: 50vw;
            height: 50vw;
            margin-left: 6vw;
            margin-top: 17px;
          }


          body main div:first-child article:nth-child(3) h3:nth-child(5){
            font-size: 2.5rem;
            color: #1B1B1D;
            font-weight: 300;
            margin-left: 5vw;
            margin-top: 38px;
            width: 88vw;
            text-align: end;
          }

          body main div:first-child article:nth-child(3) h2:nth-child(6){
            font-size: 2.5rem;
            color: #1B1B1D;
            font-weight: bold;
            margin-left: 30vw;
            width: 63vw;
            text-align: end;
          }

          body main div:first-child article:nth-child(3) p:nth-child(7){
            font-size: 1.3125rem;
            font-weight: 300;
            margin-left: 8vw;
            margin-top: 20px;
            text-align: end;
            width: 85vw;
          }

          body main div:first-child article:nth-child(3) img:nth-child(8){
            width: 50vw;
            height: 50vw;
            margin-left: 45vw;
            margin-top: 17px;
          }

          body main div:first-child article:nth-child(3) div:nth-child(9){
            display: flex;
          }


          body main div:first-child article:nth-child(3) div:nth-child(9) h3{
            font-size: 2rem;
            color: #1B1B1D;
            font-weight: 300;
            margin-top: 69px;
          }

          body main div:first-child article:nth-child(3) div:nth-child(9) h2{
            font-size: 2rem;
            color: #1B1B1D;
            font-weight: bold;
            margin-top: 69px;
            margin-left: 1vw;
          }

          body main div:first-child article:nth-child(3) p:nth-child(10){
            font-size: 1.3125rem;
            font-weight: 300;
            margin-left: 6vw;
            margin-top: 20px;
            width: 90vw;
          }

          body main div:first-child article:nth-child(3) img:nth-child(11){
            width: 70vw;
            height: 70vw;
            margin-left: 12vw;
          }

          body main div:first-child article:nth-child(3) p:last-child{
            font-size: 1.3125rem;
            color: #910012;
            font-weight: 600;
            text-align: center;
            margin-bottom: 108px;
          }












































          body footer:nth-child(3){
            color: white;
            background-color: #D7729B;
            width: 100vw;
            height: 240px;
          }
    
          body footer:nth-child(3) div:first-child{
            margin-left: 2vw;
          }
    
          body footer:nth-child(3) div:first-child h2:first-child{
            font-size: 1.6875rem;  
            width: 70vw;
            margin-bottom: 22px;
          }
          body footer:nth-child(3) div:first-child address:nth-child(2) p:first-child{
            margin-top: -21px;
            margin-bottom: -16px;
          }
    
          body footer:nth-child(3){
          color: white;
          background-color: #D7729B;
          width: 100vw;
          height: 240px;
        }
    
        body footer:nth-child(3) div:first-child{
          margin-left: 2vw;
        }
    
        body footer:nth-child(3) div:first-child h2:first-child{
          font-size: 1.6875rem;  
          width: 70vw;
          margin-bottom: 22px;
        }
        body footer:nth-child(3) div:first-child address:nth-child(2) p:first-child{
          margin-top: -21px;
          margin-bottom: -16px;
        }
    
        body footer:nth-child(3) div:first-child{
          height: 219px;
          width: 90vw;
        }
    
        body footer:nth-child(3) div:first-child address:nth-child(2) p:nth-child(3){
          margin-bottom: 4px;
          width: 38vw;
        }
    
        body footer:nth-child(3) div:first-child a{
          text-decoration: none;
        }
    
        body footer:nth-child(3) div:first-child a img{
          width: 11vw;
          height: 11vw;
        }
    
        body footer:nth-child(3) div:first-child a:last-child img{
          width: 45vw;
          margin-top: -97vw;
          margin-left: 50vw;
          margin-bottom: 25px;
          height: 230px;
        }
    
        body footer:nth-child(3) div:first-child address:nth-child(2){
          width: 90vw;
          color: white;
        }
        hr{
          border-top: 5px dotted black;
          margin-bottom: 34px;
          margin-top: 30px;
          width: 86vw;
          margin-left: 6vw;
        }
      
}
