
*{
  font-family: 'Montserrat';
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  }

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@media (max-width: 480px) {

    header div a{
      color: transparent;
    }
  
    p{
      font-weight: 300;
    }
  
    .facet_sidebar{
      display: none;
    }


    #painel-menu { 
      width: 47vw;
      height: 310px;
      display: block;
      position: absolute;
      top: 0.1px;
      left: 53vw;
      z-index: 1;
      overflow: hidden;
      }
    
      #painel-menu a {
        text-decoration: none;
        color          : black;
      }

      #painel-menu input {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 15px;
        left: 33vw;
        cursor: pointer;
        opacity: 0;
        z-index: 3;
      }
    
      #painel-menu span {
        display         : block;
        width           : 9vw;
        height          : 1.4vw;
        margin-bottom   : 5px;
        border-radius   : 3px;
        background-color: rgb(250, 246, 246);
        position        : relative;
        top             : 6vw;
        left            : 35vw;
        transform-origin: 4px 0px;
        transition      : transform 0.7s ease;
        z-index         : 2;
      }
    
      #painel-menu span:first-child {
        transform-origin: 0 0;
      }
      #painel-menu span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    
      #painel-menu input:checked~span {
        opacity         : 1;
        transform       : rotate(45deg) translate(-0.04vw, -0.02vw);
        background-color: #FF87CF;
      }
    
      #painel-menu input:checked~span:nth-last-child(3) {
        opacity  : 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
    
      #painel-menu input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -0.02vw);
      }
    
      ul {
        list-style-type: none;
        position: absolute;
        width: 41vw;
        height: 200px;
        margin: -100px 0 0 -150px;
        padding: 105px 0 0 20px;
        background-color: white;
        border: solid 1px #FF87CF;
        transform-origin: 0 0;
        transform: translate(100%, 0);
        transition: transform 0.7s ease;
        left: 46vw;
      }
    
      ul li {
        padding  : 10px 0;
        font-size: 1rem;
      }
  
      #painel-menu input:checked~ul {
        transform: none;
      }
  
    #divisor { 
      background-color: #D7729B;
      height: 21px;
      width: 100vw;
      margin-top: 22px;
      margin-bottom: 22px;
    }
  
    .divheader{
      overflow: hidden;
      height: 19vw;
      background-color: #D7729B;
    } 
  
  
    header div:nth-child(3) img:first-child{
      width: 44vw;
      height: 50vw;
      margin-left: 26vw; 
      margin-top: 20px;
    }
  
    body header div:first-child a:first-child img:first-child{
      width: 13.5vw;
      position: relative;
      top: 2vw;
      left: 1vw;
    }

    body header div:first-child img:nth-child(2){
      width: 9vw;
      position: relative;
      left: 1vw;
    }
  

    body header div:first-child a:nth-child(3) img{
      height: 20vw;
      position: absolute;
      top: -1vw;
      right: 43vw;
    }
  
    body header div:nth-child(3) div:first-child h1:first-child{
      text-align: center;
      margin-top: -10px;
    }
  
    body header div:nth-child(3) div:first-child p:nth-child(2){
      text-align: center;
      color: #BD2079;
      font-size: 1.8125rem;
      font-weight: 600;
    }

    body header div:nth-child(3) {
      background-image: url(../imagens/headerfloresC.png);
      background-repeat: no-repeat;
    }
  
    body header div:nth-child(3) div:first-child img:nth-child(3){
      width: 100vw;
      margin-top: 22px;
    }

    body header div:nth-child(3) div:first-child img:last-child{
      width: 100vw;
      margin-top: -5px;
    }
  
    body header div:nth-child(3) div:first-child div:nth-child(4) img:first-child{
        margin-left: 37vw;
    }

    body header div:nth-child(3) div:first-child div:nth-child(4){
      height: 32px;
      margin-top: -11px;
      background-color: #D7729B;
    }

    body main div:first-child div:first-child{
      background-image: url(../imagens/floresvocesbiaC.png);
      background-repeat: no-repeat;
      padding-top: 55px;
    }

    body main div:first-child div:first-child h2:first-child{
      font-size: 2.5rem;
      color: #A2185B;
      font-weight: 500;
      margin-left: 24vw;
      margin-bottom: 12px;
    }

    body main div:first-child div:first-child h2:first-child strong{
      font-weight: 600;
    }

    body main div:first-child div:first-child p:nth-child(2){
      font-size: 1.25rem;
      font-weight: 300;
      color: #1B1B1D;
      line-height: 30px;
      width: 68.5vw;
      margin-left: 25vw;
      margin-bottom: 50px;
    }

    body main div:first-child div:first-child p:nth-child(3){
      font-size: 1.25rem;
      font-weight: 300;
      color: #1B1B1D;
      line-height: 30px;
      width: 57.5vw;
      margin-left: 07vw;
    }

    body main div:first-child div:nth-child(2) h2:first-child{
      font-size: 1.5rem;
      font-weight: 300;
      text-align: center;
      background-color: #A2185B;
      color: white;
      padding-top: 18px;
      padding-bottom: 18px;
      margin-bottom: 30px;
    }

    body main div:first-child div:nth-child(2) h2:first-child strong{
      font-weight: 700;
    }

    body main div:first-child div:nth-child(2) div:nth-child(2){
      width: 89vw;
      margin-left: 10.5vw;
    }

    body main div:first-child div:nth-child(2) div:nth-child(2) img{
      margin-bottom: 10px;
      margin-right: 02vw;
      width: 39vw;
    }

    body main div:first-child div:nth-child(3) {
      background-color: #A2185B;
      width: 79vw;
      height: 51px;
      border: solid #A2185B;
      border-radius: 10px;
      margin-left: 10.5vw;
      margin-bottom: 55px;
      padding-top: 9px;
    }

    body main  div:first-child div:nth-child(3)  a:first-child p:first-child{
      color: white;
      font-size: 1.5rem;
      font-weight: 200;
      text-decoration: none;
      text-align: center;
      padding-top: 5px;
      width: 79vw;
    }

    body main div:nth-child(2){
      background-image: url(../imagens/florestextdiresqC.png);
      background-repeat: no-repeat;
      background-position-y: 130px;
    }

    body main div:nth-child(2) p:nth-child(1), p:nth-child(3){
      font-weight: 100;
      font-style: italic;
      font-size: 1.3rem;
      width: 77vw;
      margin-left: 09vw;
      margin-bottom: 40px;
    }

    body main div:nth-child(2) p:nth-child(2), p:nth-child(4){
      font-weight: 100;
      font-style: italic;
      font-size: 1.3rem;
      width: 80vw;
      margin-left: 17.5vw;
      margin-bottom: 40px;
    }

    body main div:nth-child(2) p strong{
      font-weight: 400;
    }

    body main div:nth-child(2) h2:last-child {
      font-size: 1.3rem;
      text-align: center;
      width: 80vw;
      margin-left: 09vw;
      font-weight: 300;
      margin-bottom: 35px;
    }

    body main div:nth-child(2) h2:last-child strong{
      font-weight: 500;
    }
    body main img:nth-child(3){
      margin-bottom: 0px;
    }

    body main div:nth-child(4) article:first-child{
      background-image: url(../imagens/floresumpoucoC.png);
      background-repeat: no-repeat;
      padding-top: 50px;
    }

    body main div:nth-child(4) article:first-child h2:first-child{
      margin-left: 09vw;
    }

    body main div:nth-child(4) article:first-child h2:first-child strong:first-child{
      color: #A2185B;
      font-size: 3.3rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    body main div:nth-child(4) article:first-child h2:first-child strong:nth-child(2){
      font-size: 2.5rem;
    }

    body main div:nth-child(4) article:first-child h2:first-child{
      font-weight: 100;
      font-size: 1.7rem;
    }

    body main div:nth-child(4) article:first-child div:nth-child(3) p:first-child{
      font-size: 1.25rem;
      font-weight: 300;
      width: 51vw;
      margin-left: 09vw;
      margin-top: 51px;
      line-height: 36px;
      margin-bottom: 50px;
    }

    body main div:nth-child(4) article:first-child div:nth-child(3) img:last-child{
      width: 32.5vw;
      position: relative;
      bottom: 385px;
      left: 62vw;
    }

    body main div:nth-child(4) article:first-child img:nth-child(4) {
      width: 32.5vw;
      position: relative;
      left: 01vw;
      bottom: 90px;
    }

    body main div:nth-child(4) article:first-child p:nth-child(5){
      font-size: 1.25rem;
      font-weight: 300;
      width: 55vw;
      margin-left: 40vw;
      margin-top: -325px;
      line-height: 36px;
    }

    body main div:nth-child(4) article:first-child p:nth-child(6){
      font-size: 1.25rem;
      font-weight: 300;
      width: 51vw;
      margin-left: 09vw;
      margin-top: 51px;
      line-height: 36px;
    }

    body main div:nth-child(4) article:first-child img:nth-child(7){
      width: 32.5vw;
      position: relative;
      bottom: 270px;
      left: 62vw;
    }

    body main div:nth-child(4) article:first-child div:last-child {
      background-color: #A2185B;
      width: 79vw;
      height: 51px;
      border: solid #A2185B;
      border-radius: 10px;
      margin-left: 10.5vw;
      margin-bottom: 55px;
      padding-top: 9px;
    }

    body main  div:nth-child(4) article:first-child div:last-child a:first-child p:first-child{
      color: white;
      font-size: 1.5rem;
      font-weight: 200;
      text-decoration: none;
      text-align: center;
      padding-top: 5px;
      width: 79vw;
    }

    body main div:nth-child(5) h2:first-child {
      color: #A2185B;
      font-weight: 600;
      font-size: 3rem;
      margin-left: 10.5vw;
      width: auto;
    }

    body main div:nth-child(5) h3:nth-child(2){
      color: #A2185B;
      font-weight: 300;
      font-size: 2.5rem;
      margin-left: 25.5vw;
      width: auto;
    }

    body main div:nth-child(5) h4:nth-child(3){
      color: #1B1B1D;
      font-weight: 600;
      font-size: 3rem;
      margin-left: 10.5vw;
      width: auto;
      margin-top: 10px;
    }

    body main div:nth-child(5) div:nth-child(4) p:first-child{
      color: #1B1B1D;
      font-weight: 600;
      font-size: 1rem;
      margin-left: 10.5vw;
      width: 76vw;
      margin-top: 45px;
      line-height: 34px;
    }


    body main div:nth-child(5) div:nth-child(5) h3:first-child{
      color: #1B1B1D;
      font-weight: 600;
      font-size: 2rem;
      margin-left: 10.5vw;
      width: auto;
      margin-top: 45px;
    }

    body main div:nth-child(5) div:nth-child(5) h2:nth-child(2){
      color: #A2185B;
      font-weight: 800;
      font-size: 2rem;
      margin-left: 10.5vw;
      width: auto;
    }

    body main div:nth-child(5) hr:nth-child(6){
      margin-bottom: 60px;
    }

    body main div:nth-child(5) section:nth-child(7) img{
      width: 28vw;
      margin-left: 10.5vw; 
    }

    body main div:nth-child(5) section:nth-child(7) img:nth-child(4), img:nth-child(7){
      margin-top: -45px;
    }

    body main div:nth-child(5) section:nth-child(7) h3{
      font-weight: 800;
      color: #1B1B1D;
      font-size: 1rem;
      position: relative;
      margin-left: 0px;
      bottom: 130px;
      left: 40vw;
      width: 50vw;
    }

    body main div:nth-child(5) section:nth-child(7) p{
      font-weight: 300;
      color: #1B1B1D;
      font-size: 1rem;
      position: relative;
      margin-left: 0px;
      bottom: 130px;
      left: 40vw;
      width: 43vw;
    }

    body main div:nth-child(5) hr:nth-child(8) {
      margin-top: -10px;
    }

    body main div:nth-child(5) article:nth-child(9){
      background-image: url(../imagens/floresalemC.png);
      background-repeat: no-repeat;
      background-position-y: 90px;
    }

    body main div:nth-child(5) article:nth-child(9) h3:first-child{
      font-size: 1.7rem;
      font-weight: 300;
      margin-left: 09vw;
      margin-bottom: 10px;
    }

    body main div:nth-child(5) article:nth-child(9) h2:nth-child(2){
      font-weight: 500;
      font-size: 2.27rem;
      margin-left: 4.2vw;
      text-align: center;
      color: #A2185B;
      width: 88vw;
      margin-bottom: 40px;
    }

    body main div:nth-child(5) article:nth-child(9) h2:nth-child(2) strong{
      font-weight: 700;
    }

    body main div:nth-child(5) article:nth-child(9) p:nth-child(3){
      font-weight: 300;
      font-style: italic;
      font-size: 1.5rem;
      width: 85vw;
      margin-left: 9vw;
      margin-bottom: 40px;
      line-height: 35px;
    }

    body main div:nth-child(5) article:nth-child(9) img{
      width: 30vw;
    }

    body main div:nth-child(5) article:nth-child(9) img:nth-child(4){
      margin-top: 30px;
      margin-left: 03.5vw;
    }


    body main div:nth-child(5) article:nth-child(9) p:nth-child(5){
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 32px;
      width: 57vw;
      margin-left: 35vw;
      margin-top: -158px;
    }

    body main div:nth-child(5) article:nth-child(9) p:nth-child(6){
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 32px;
      width: 61vw;
      margin-left: 09vw;
      margin-top: 65px;
    }

    body main div:nth-child(5) article:nth-child(9) img:nth-child(7){
      position: relative;
      bottom: 325px;
      left: 69vw;
    }

    body main div:nth-child(5) article:nth-child(9) img:nth-child(8){
      position: relative;
      right: 26vw;
      margin-top: 100px;
    }

    body main div:nth-child(5) article:nth-child(9) p:nth-child(9){
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 32px;
      width: 61vw;
      margin-left: 35vw;
      margin-top: -200px;
    }

    body main div:nth-child(5) article:nth-child(9) img:nth-child(11){
      position: relative;
      bottom: 200px;
      left: 69vw;
    }

    body main div:nth-child(5) article:nth-child(9) p:nth-child(10){
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 32px;
      width: 61vw;
      margin-left: 09vw;
      margin-top: 65px;
    }

    body main div:nth-child(5) article:nth-child(9) img:nth-child(12){
      margin-left: 5vw;
      margin-top: 10px;
    }

    body main div:nth-child(5) article:nth-child(9) p:nth-child(13){
      color: #A2185B;
      font-weight: 300;
      text-align: center;
      line-height: 32px;
      font-size: 1.75rem;
      width: 71vw;
      margin-left: 14vw;
      margin-bottom: 50px;
    }

    body main div:nth-child(5) article:nth-child(9) div:last-child {
      background-color: #A2185B;
      width: 79vw;
      height: 51px;
      border: solid #A2185B;
      border-radius: 10px;
      margin-left: 10.5vw;
      margin-bottom: 55px;
      padding-top: 9px;
    }

    body main  div:nth-child(5) article:nth-child(9) div:last-child a:first-child p:first-child{
      color: white;
      font-size: 1.5rem;
      font-weight: 200;
      text-decoration: none;
      text-align: center;
      padding-top: 5px;
      width: 79vw;
    }

    body main div:nth-child(6){
      background-image: url(../imagens/floresalgunsC.png);
      background-repeat: no-repeat;
      padding-top: 20px;
      margin-top: 30px;
    }

    body main div:nth-child(6) section:first-child h2:first-child{
      font-size: 2.5rem;
      font-weight: 500;
      margin-left: 09vw;
      color: #A2185B;
    }

    body main div:nth-child(6) section:first-child h2:first-child strong{
      font-weight: 700;
    }

    body main div:nth-child(6) img{
      width: 27vw;
      margin-left: 09vw;
    }

    body main div:nth-child(6) img:nth-child(2){
      margin-top: 65px;
    }

    body main div:nth-child(6) p{
      font-size: 1rem;
      font-weight: 300;
      color: #1B1B1D;
      position: relative;
      bottom: 27vw;
      left: 37vw;
      margin-left: 0px;
      width: 50vw;
    }

    body main div:nth-child(6) h3{
      font-size: 1.2rem;
      font-weight: 700;
      color: #1B1B1D;
      position: relative;
      bottom: 27vw;
      left: 37vw;
      width: 50vw;
    }
    

    body main div:nth-child(6) section:first-child div:nth-child(14) {
      background-color: #A2185B;
      width: 79vw;
      height: 51px;
      border: solid #A2185B;
      border-radius: 10px;
      margin-left: 10.5vw;
      margin-bottom: 55px;
      padding-top: 9px;
      margin-top: 65px;
    }

    body main  div:nth-child(6) section:first-child div:nth-child(14) a:first-child p:first-child{
      color: white;
      font-size: 1.5rem;
      font-weight: 200;
      text-decoration: none;
      text-align: center;
      padding-top: 5px;
      width: 79vw;
      position: static;
    }

    hr{
      border-top: 5px dotted black;
      margin-bottom: 34px;
      margin-top: 30px;
      width: 77vw;
      margin-left: 10vw;
    }

    #anuncio{ 
      width: 100vw;
    }

    body footer {
      color: white;
      background-color: #D7729B;
      padding-left: 10px;
      padding-top: 20px;
    }

    body footer div:first-child a{
      text-decoration: none;
    }

    body footer div:first-child a img{
      width: 11vw;
      height: 11vw;
    }

    body footer div:first-child a:last-child img{
      width: 43vw;
      height: 57vw;
      margin-top: -59vw;
      margin-left: 54vw;
      margin-bottom: 25px;
    }

    body footer div:first-child h2:first-child{
      font-size: 2rem;
      font-weight: 200;
      width: 52vw;  
      margin-bottom: 20px;
    }

    body footer div:first-child address:nth-child(2) p:nth-child(3){
      margin-bottom: 20px;
      width: 57vw;
      margin-left: 0px;
      font-weight: 300;
      font-size: 1rem;
    }
  
    body footer div:first-child address:nth-child(2){
      width: 90vw;
      color: white;
    }
}

@media screen and (min-width: 481px) and (max-width: 800px){


  #painel-menu { 
    width: 47vw;
    height: 310px;
    display: block;
    position: absolute;
    top: 0.1px;
    left: 53vw;
    z-index: 1;
    overflow: hidden;
    }
  
    #painel-menu a {
      text-decoration: none;
      color          : black;
    }

    #painel-menu input {
      display: block;
      width: 4vw;
      height: 5vw;
      position: absolute;
      top: 3.5vw;
      left: 39vw;
      cursor: pointer;
      opacity: 0;
      z-index: 3;
    }
  
    #painel-menu span {
      display         : block;
      width           : 4vw;
      height          : 6px;
      margin-bottom   : 10px;
      border-radius   : 3px;
      background-color: rgb(250, 246, 246);
      position        : relative;
      top             : 3.5vw;
      left            : 39vw;
      transform-origin: 4px 0px;
      transition      : transform 0.7s ease;
      z-index         : 2;
    }
  
    #painel-menu span:first-child {
      transform-origin: 0 0;
    }
    #painel-menu span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  
    #painel-menu input:checked~span {
      opacity: 1;
      width: 5vw;
      height: 10px;
      transform: rotate(44deg) translate(0.5vw, -0.4vw);
      background-color: #FF87CF;
    }
  
    #painel-menu input:checked~span:nth-last-child(3) {
      opacity  : 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
  
    #painel-menu input:checked~span:nth-last-child(2) {
      transform: rotate(-45deg) translate(2vw, -1.0199999999999996vw);
    }


  
    ul {
      list-style-type: none;
      position: absolute;
      width: 28vw;
      height: 200px;
      margin: -100px 0 0 -150px;
      padding: 105px 0 0 20px;
      background-color: white;
      border: solid 1px #FF87CF;
      transform-origin: 0 0;
      transform: translate(100%, 0);
      transition: transform 0.7s ease;
      font-size: 4.2vw;
      left: 36vw;
    }
  
    ul li {
      padding  : 10px 0;
      font-size: 22px;
    }

    #painel-menu input:checked~ul {
      transform: none;
    }  

    .divheader{
      background-color: #D7729B;
      width: 100vw;
      height: 100px;
    }

    body header div:first-child a{
      color: transparent;
    }

    body header div:first-child a:first-child img{ 
      width: 11vw;
      position: absolute;
      top: 1vw;
      left: 2vw;
    }

    body header div:first-child img:nth-child(2) {
      width: 7vw;
      position: absolute;
      top: 3vw;
      left: 14vw;
    }
    

    body header div:first-child a:nth-child(3) img{
      margin-left: 44.5vw;
      padding-bottom: 1vw;
      width: 10vw;
      height: 97px;
    }

    body header div:nth-child(3) img:first-child{
      width: 0px;
      height: 0px;
      z-index: 0;
    }

    body header div:nth-child(3) {
      background-image: url(../imagens/headerflores.png);
      height: 543px;
    }

    body header div:nth-child(3) div:first-child p:nth-child(2) {
      font-size: 1.5rem;
      font-weight: 800;
      color: #A2185B;
      text-align: center;
      margin-top: 71px;
    }

    body header div:nth-child(3) div:first-child img:nth-child(3){
      width: 60vw;
      margin-left: 19vw;
      margin-top: 34px;
    }

    body header div:nth-child(3) div:first-child img:last-child{
      width: 100vw;
      height: 48px;
      margin-top: -5px;
    }



    body main div:first-child div:first-child{
      background-image: url(../imagens/floresvocesbia.png);
      padding-top: 40px;
      height: 485px;
    }

    body main div:first-child div:first-child h2:first-child strong{
      font-size: 2.813rem;
      margin-top: 55px;
      color: #A2185B;
      font-weight: bold;
    }

    body main div:first-child div:first-child h2:first-child {
      font-size: 2.813rem;
      color: #A2185B;
      font-weight: 500;
      margin-left: 25vw;
    }

    body main div:first-child div:first-child p:nth-child(2) {
      font-size: 1.25rem;
      font-weight: 300;
      color: #1B1B1D;
      margin-left: 25vw;
      width: 70vw;
      margin-top: 31px;
    }

    body main div:first-child div:first-child p:nth-child(3){
      font-size: 1.25rem;
      font-weight: 300;
      color: #1B1B1D;
      margin-left: 11vw;
      width: 80vw;
      margin-top: 60px;
      margin-bottom: 50px;
    }

    body main div:first-child div:nth-child(2) h2:first-child{
      text-align: center;
      color: white;
      font-size: 1.3rem;
      background-color: #A2185B;
      width: 100vw;
      height: 50px;
      padding-top: 20px;
      margin-bottom: 45px;
      font-weight: 500;
    }

    body main div:first-child div:nth-child(2) h2:first-child strong{
      font-weight: 700;
    }

    body main div:first-child div:nth-child(2) div:nth-child(2){
      width: 60vw;
      margin-left: 24vw;
    }

    body main div:first-child div:nth-child(2){
      background-image: none;
    }


    body main div:first-child div:nth-child(2)  div:nth-child(2) img{
      width: 23vw;
      border: solid transparent;
      border-radius: 20px;
      margin-left: 01vw;
      margin-top: 1vw;
    }

    body main div:first-child div:nth-child(3) {
      background-color: #A2185B;
      width: 50vw;
      height: 40px;
      border: solid #A2185B;
      border-radius: 10px;
      margin-left: 24vw;
      padding-top: 10px;
      margin-top: 70px;
      margin-bottom: 70px;
      color: white;
    }


    body main div:first-child div:nth-child(3) a:first-child p:first-child{
      color: white;
      font-size: 1.3rem;
      text-decoration: none;
      text-align: center;
      position: static;
      width: auto;
    }

    body main div:nth-child(2){
      background-image: url(../imagens/textdiresq.png);
    }

    body main div:nth-child(2) p:first-child{
      margin-top: 26px;
    }


    body main div:nth-child(2) p:first-child, p:nth-child(3) {
      font-style: italic;
      font-size: 1.5rem;
      width: 68vw;
      margin-left: 09vw;
    }

    body main div:nth-child(2) p:nth-child(3) {
      margin-top: 76px
    }

    body main div:nth-child(2) p {
      font-weight: 100;
    }

    body main div:nth-child(2) p strong{
      font-weight: 300;
    }



    body main div:nth-child(2) p:nth-child(2) , p:nth-child(4){
      font-style: italic;
      font-size: 1.5rem;
      width: 69vw;
      margin-left: 25vw;
      margin-top: 85px;
    }

    body main div:nth-child(2) h2:last-child {
      width: 57vw;
      text-align: center;
      font-size: 1.5rem;
      color: black;
      font-style: italic;
      margin-left: 24vw;
      font-weight: 300;
      margin-top: 80px;
      margin-bottom: 90px;
    }

    body main div:nth-child(2) h2:last-child strong{
      font-weight: 500;
    }

    body main div:nth-child(4) article:first-child  h2:first-child{
      margin-left: 9vw;
      font-size: 3rem;
      font-weight: 100;
    }

    body main div:nth-child(4) article:first-child  h2:first-child strong:first-child{
      color: #A2185B;
      font-weight: 600;
      font-size: 3.125rem;
    }

    body main div:nth-child(4) article:first-child  h2:first-child strong:nth-child(2){
      font-weight: 600;
      font-size: 4rem;
    }

    body main div:nth-child(4) article:first-child {
      background-image: url(../imagens/floresumpouco.png);
      padding-top: 55px;
      height: 2055px;
      background-repeat: no-repeat;
    }

    body main div:nth-child(4) article:first-child hr:nth-child(2){
      margin-top: 50px;
      margin-bottom: 50px;
    }

    body main div:nth-child(4) article:first-child div:nth-child(3) p:first-child{
      margin-left: 9vw;
      width: 37vw;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 40px;
      margin-bottom: 60px;
    }

    body main div:nth-child(4) article:first-child div:nth-child(3) img:nth-child(2){
      width: 26vw;
      height: 38vw;
      position: relative;
      top: -467px;
      left: 55vw;
    }

    body main div:nth-child(4) article:first-child p:nth-child(5){
      margin-left: 49vw;
      width: 39vw;
      line-height: 40px;
      font-size: 1.5rem;
      font-weight: 300;
      margin-top: -528px;
    }

    body main div:nth-child(4) article:first-child img:nth-child(4){
      width: 30vw;
      height: 30vw;
      position: relative;
      top: -100px;
      left: 09vw;
    }

    
    body main div:nth-child(4) article:first-child p:nth-child(6){
      margin-left: 9vw;
      width: 35vw;
      height: 35vw;
      font-size: 1.5rem;
      font-weight: 300;
      margin-top: 60px;
    }

    body main div:nth-child(4) article:first-child img:nth-child(7){
      width: 33vw;
      height: 32vw;
      position: relative;
      top: -253px;
      left: 52vw;
    }

    body main div:nth-child(4) div:last-child{
      margin-top: 10px;
    }

    body main div:nth-child(4) article:first-child div:last-child {
      background-color: #A2185B;
      width: 50vw;
      height: 60px;
      border: solid #A2185B;
      border-radius: 10px;
      margin-left: 24vw;
      margin-top: -140px;
    }

    body main div:nth-child(4) article:first-child div:last-child a:first-child p:first-child{
      color: white;
      font-size: 1.5rem;
      font-weight: 200;
      text-decoration: none;
      text-align: center;
      padding-top: 12px;
    }

    body main div:nth-child(5) h2:first-child {
      font-size: 3.438rem;
      font-weight: 600;
      margin-left: 24vw;
      color: #A2185B;
    }

    body main div:nth-child(5) h3:nth-child(2){
      font-size: 2.375rem;
      font-weight: 300;
      color: #A2185B;
      margin-left: 43vw;
    }

    body main div:nth-child(5) h4:nth-child(3){
      font-size: 2.625rem;
      font-weight: 600;
      text-align: center;
      width: 55vw;
      margin-left: 24vw;
      margin-top: 55px;
      color: black;
    }

    body main div:nth-child(5) div:nth-child(4) p:first-child{
      width: 50vw;
      font-size: 1.25rem;
      text-align: center;
      margin-left: 26vw;
      margin-top: 81px;
      line-height: 34px;
    }

    body main div:nth-child(5) div:nth-child(5) h3:first-child{
      font-size: 2rem;
      width: 20vw;
      height: 05vw;
      margin-left: 40vw;
      margin-top: 79px;
      font-weight: 500;
    }

    body main div:nth-child(5) div:nth-child(5) h2:nth-child(2) {
      font-weight: 800;
      font-size: 2.1rem;
      color: #A2185B;
      width: 52vw;
      text-align: center;
      margin-left: 24vw;
      margin-bottom: 74px;
    }


    body main div:nth-child(5) section:nth-child(7) img:first-child{
      margin-top: 54px;
      margin-bottom: 68px;
      width: 14vw;
      height: 14vw;
      margin-left: 24vw;
    }

    body main div:nth-child(5) section:nth-child(7) img:nth-child(4){
      width: 16vw;
      height: 16vw;
      margin-left: 24vw;
    }

    body main div:nth-child(5) section:nth-child(7) img:nth-child(7){
      width: 17.5vw;
      height: 17.5vw;
      margin-left: 24vw;
    }

    body main div:nth-child(5) section:nth-child(7) h3{
      font-size: 1.425rem;
      font-weight: 800;
      color: #1B1B1D;
      text-align: center;
      margin-left: 1vw;
      margin-top: -62px;
      position: relative;
      width: 60vw;
    }

    body main div:nth-child(5) section:nth-child(7) h3:nth-child(2){
      top: -112px;
      left: 28vw;
      margin-bottom: 5px;
    }

    body main div:nth-child(5) section:nth-child(7) h3:nth-child(5){
      top: -72px;
      left: 28vw;
      margin-bottom: 5px;
    }

    body main div:nth-child(5) section:nth-child(7) h3:nth-child(8){
      top: -72px;
      left: 29vw;
      margin-bottom: 5px;
    }

    body main div:nth-child(5) section:nth-child(7) p{
      width: 40vw;
      font-size: 1.425rem;
      margin: 0px;
      font-weight: 300;
      margin-left: 34vw;
      position: relative;
      line-height: 23px;
    }

    body main div:nth-child(5) section:nth-child(7) p:nth-child(3){
      top: -112px;
      left: 8vw;
    }

    body main div:nth-child(5) section:nth-child(7) p:nth-child(6){
      top: -72px;
      left: 8vw;
      margin-bottom: 30px;
    }

    body main div:nth-child(5) section:nth-child(7) p:nth-child(9){
      top: -72px;
      left: 8vw;
    }

    body main div:nth-child(5) article:nth-child(9) h3:first-child{
      font-size: 2rem;
      text-align: center;
      font-weight: 300;
      color: #1B1B1D;
      width: 30vw;
      margin-bottom: 32px;
      margin-left: 36.5vw;
      margin-top: 89px;
    }

    body main div:nth-child(5) article:nth-child(9){
      background-image: url(../imagens/floresalem.png);
      background-position-y: 94px ;
      background-repeat: no-repeat;
    }

    body main div:nth-child(5) article:nth-child(9) h2:nth-child(2){
      font-size: 2.688rem;
      font-weight: 500;
      color: #A2185B;
      text-align: center;
      margin-left: 6.5vw;
      margin-bottom: 60px;
    }

    body main div:nth-child(5) article:nth-child(9) h2:nth-child(2) strong{
      font-weight: 700;
    }



    body main div:nth-child(5) article:nth-child(9) p:nth-child(3){
      width: 52vw;
      text-align: center;
      margin-left: 28vw;
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 40px;
    }

    body main div:nth-child(5) article:nth-child(9) p{
      width: 45.25vw;
      color: #1B1B1D;
      font-size: 1.5rem;
      font-weight: 300;
    }

    body main div:nth-child(5) article:nth-child(9) img {
      width: 22vw;
      position: relative;
    }

    body main div:nth-child(5) article:nth-child(9) img:nth-child(4){
      margin-top: 87px;
      margin-left: 15vw;
      top: 12px;
    }

    body main div:nth-child(5) article:nth-child(9) p:nth-child(5){
      margin-left: 40vw;
      margin-top: -161px;
    }

    body main div:nth-child(5) article:nth-child(9) p:nth-child(6){
      margin-left: 15vw;
      margin-top: 122px;
    }

    body main div:nth-child(5) article:nth-child(9) img:nth-child(7){
      margin-left: 66vw;
      top: -193px;
    }

    body main div:nth-child(5) article:nth-child(9) img:nth-child(8){
      margin-left: 15vw;
      top: -30px
    }

    body main div:nth-child(5) article:nth-child(9) p:nth-child(9){
      margin-left: 40vw;
      margin-top: -220px;
    }

    body main div:nth-child(5) article:nth-child(9) p:nth-child(10){
      margin-left: 15vw;
      margin-top: 122px;
    }

    body main div:nth-child(5) article:nth-child(9) img:nth-child(11){
      margin-left: 66vw;
      top: -222px;
    }

    body main div:nth-child(5) article:nth-child(9) p:nth-child(13){
      text-align: center;
      width: 33vw;
      color: #A2185B;
      margin-left: 33vw;
      margin-bottom: 50px;
    }

    body main div:nth-child(5) article:nth-child(9) div:last-child {
      background-color: #A2185B;
      width: 50vw;
      height: 60px;
      border: solid #A2185B;
      border-radius: 10px;
      margin-left: 24vw;
      margin-top: 65px;
      margin-bottom: 90px;
    }

    body main div:nth-child(5) article:nth-child(9) div:last-child a:first-child p:first-child{
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      text-align: center;
      padding-top: 12px;
      width: auto;
    }

    body main div:nth-child(5) article:nth-child(9) img:nth-child(12){
      margin-left: 40vw;
      margin-top: -67px;
    }

    body main div:nth-child(6) section:first-child {
      background-image: url(../imagens/floresalguns.png);
      background-repeat: no-repeat;
      background-position-y: 186px;
    }

    body main div:nth-child(6) section:first-child h2:first-child {
      color: #A2185B;
      font-size: 2.75rem;
      text-align: center;
      font-weight: 600;
      margin-top: 50px;
    } 

    body main div:nth-child(6) section:first-child img{
      width: 18vw;
      height: 18vw;
      margin-left: 23vw;
    }

    body main div:nth-child(6) section:first-child img:nth-child(2) {
      margin-top: 90px;
    }

    body main div:nth-child(6) section:first-child p{
      font-size: 1.125rem;
      position: relative;
      top: -130px;
      left: 45vw;
      width: 41vw;
      color: #1B1B1D;
      margin: 0px;
    }

    body main div:nth-child(6) section:first-child h3{
      font-size: 1.5rem;
      font-weight: 600;
      color: #1B1B1D;
      position: relative;
      top: -130px;
      left: 45vw;
      width: 41vw;
    }

    body main div:nth-child(6) section:first-child div:nth-child(14) {
      background-color: #A2185B;
      width: 50vw;
      height: 60px;
      border: solid #A2185B;
      border-radius: 10px;
      margin-left: 24vw;
      margin-top: 65px;
      margin-bottom: 127px;
    }

    body main div:nth-child(6) section:first-child div:nth-child(14) a:first-child p:first-child {
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      text-align: center;
      padding-top: 12px;
      position: static;
      width: auto;
    }
    

    #divisor { 
      background-color: #D7729B;
      height: 21px;
      width: 100vw;
      margin-top: 22px;
      margin-bottom: 22px;
      background-image: none;
    }


    #anuncio{
      width: 100vw;
      height: 25vw;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    hr{
      border-top: 5px dotted black;
      margin-top: 30px;
      width: 80vw;
      margin-left: 9vw;
    }



    body footer div:first-child address:nth-child(2) p:first-child{
      margin-top: 25px;
      margin-bottom: -16px;
      font-size: 1rem;
    }


    body footer div:first-child address:nth-child(2) p:nth-child(3){
      margin-bottom: 4px;
      width: 68vw;
      margin-left: 0px;
      margin-top: 39px;
      font-size: 0.8rem;
    }

    body footer div:first-child a{
      text-decoration: none;
      margin-top: 50px;
    }

    body footer div:first-child a img{
      width: 05vw;
      height: 05vw;
      position: relative;
      top: -170px;
    }

    body footer div:first-child a:last-child img{
      width: 28vw;
      height: 230px;
      top: -175px;
      left: 47vw;
    }

    body footer div:first-child a:last-child {
      width: 1px;
    }

    body footer div:first-child address:nth-child(2){
      width: 50vw;
      color: white;
    }

    body footer div:first-child{
      padding-left: 02vw;
      padding-bottom: 4vw;
      margin-top: 174px;
      color: white;
      background-color: #D7729B;
      height: 250px;
      overflow: hidden;
    }
    

    body footer div:first-child h2:first-child{
      font-size: 2.25rem; 
      width: 62vw;
      font-weight: 100;
      margin-top: 37px;
    }

}


