
*{
font-family: 'Montserrat';
margin: 0px 0px 0px 0px;
}


@media (max-width: 480px) {

  header div a{
    color: #D7729B;
  }

  p{
    font-weight: 300;
  }

  .facet_sidebar{
      display: none;
  }
  #painel-menu { 
    width: 47vw;
    height: 310px;
    display: block;
    position: absolute;
    top: 0.1px;
    left: 53vw;
    z-index: 1;
    overflow: hidden;
    }
  
    #painel-menu a {
      text-decoration: none;
      color          : black;
    }
    #painel-menu input {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 15px;
      left: 33vw;
      cursor: pointer;
      opacity: 0;
      z-index: 3;
    }
  
    #painel-menu span {
      display         : block;
      width           : 9vw;
      height          : 1.4vw;
      margin-bottom   : 5px;
      border-radius   : 3px;
      background-color: rgb(250, 246, 246);
      position        : relative;
      top             : 3vw;
      left            : 33vw;
      transform-origin: 4px 0px;
      transition      : transform 0.7s ease;
      z-index         : 2;
    }
  
    #painel-menu span:first-child {
      transform-origin: 0 0;
    }
    #painel-menu span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  
    #painel-menu input:checked~span {
      opacity         : 1;
      transform       : rotate(45deg) translate(-0.04vw, -0.02vw);
      background-color: #FF87CF;
    }
  
    #painel-menu input:checked~span:nth-last-child(3) {
      opacity  : 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
  
    #painel-menu input:checked~span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -0.02vw);
    }
  
    ul {
      list-style-type: none;
      position: absolute;
      width: 41vw;
      height: 200px;
      margin: -100px 0 0 -150px;
      padding: 105px 0 0 20px;
      background-color: white;
      border: solid 1px #FF87CF;
      transform-origin: 0 0;
      transform: translate(100%, 0);
      transition: transform 0.7s ease;
      font-size: 4.2vw;
      left: 43vw;
    }
  
    ul li {
      padding  : 10px 0;
      font-size: 22px;
    }

    #painel-menu input:checked~ul {
      transform: none;
    } 

      #divisor { 
        background-color: #D7729B;
        height: 21px;
        width: 100vw;
        margin-top: 22px;
        margin-bottom: 22px;
      }

      .divheader{
        width: 100vw;
        overflow: hidden;
        background-color: #D7729B;
      } 


      body header div:nth-child(3) img:first-child{
        width: 44vw;
        height: 50vw;
        margin-left: 29vw; 
        margin-top: 20px;
      }

      body header:first-child  div:first-child a:first-child img:first-child{
        margin-left: 0.4vw;
        width: 13.5vw;
        height: 13.5vw;
      }
      
      body header:first-child div:first-child a:nth-child(2) img:first-child{
        height: 17vw;
        width: 14vw;
        position: absolute;
        top: -7px;
        right: 42vw;
      }

       body header:first-child  div:nth-child(2) a:first-child img:first-child{
        height: 72px;
        width: 13vw;
        margin-top: -16px;
       }

       body header:first-child div:nth-child(3) div:first-child h1:first-child{
        text-align: center;
        margin-top: -10px;
       }

       body header:first-child div:nth-child(3) div:first-child p:nth-child(2){
        text-align: center;
        color: #BD2079;
        font-size: 1.8125rem;
        font-weight: 600;
       }

       body header:first-child div:nth-child(3) div:first-child img:nth-child(3){
        height: 70vw;
        width: 100vw;
        margin-top: 22px;
       }

       body main{
        margin-top: 70px;

       }
       body main:nth-child(2) div:first-child section:first-child h2:first-child{
        margin-top: 30px;
        text-align: center;
        font-size: 2.8125rem;
        color: #A2185B;
        font-weight: 600;
       }

       body header:first-child div:nth-child(3){
        background-color: #FFE8F6;
        height: 149vw;
       }

      body header:first-child div:nth-child(3) div:first-child div:nth-child(4) img:first-child{
        margin-left: 37vw;
      }

      body header:first-child div:nth-child(3) div:first-child h1:first-child{
        color: #6D123E;
      }
       
      

      body header:first-child div:nth-child(3) div:first-child div:nth-child(4){
        height: 32px;
        margin-top: -11px;
        background-color: #D7729B;
      }

      body main:nth-child(2) div:first-child section:first-child p:nth-child(2){
        font-size: 1.6875rem;
        margin-left: 23.75vw;
        margin-top: 22px;
        font-weight: 300;
        color: #1B1B1D;
      }

      body main:nth-child(2) div:first-child section:first-child p:nth-child(3){
        font-size: 1.6875rem;
        margin-left: 08vw;
        margin-top: 22px;
        font-weight: 300;
        color: #1B1B1D;
      }

      body main:nth-child(2) div:first-child section:first-child h2:nth-child(4){
        text-align: center;
        font-size: 1.4rem;
        margin-top: 22px;
        background-color: #A2185B;
        color: white;
        width: 100vw;
        height: 11vw;
        padding-top: 4vw;
      }
      body main:nth-child(2) div:first-child section:first-child div:nth-child(5) img{
        width: 38vw;
        margin-top: 22px;
      }
      body main:nth-child(2) div:first-child section:first-child div:nth-child(5){
        margin-left: 11vw;
        width: 88vw;
      }
      
      body main:nth-child(2) div:first-child section:first-child div:nth-child(6) a:first-child{
        text-decoration: none;
        color: inherit;
      }

      body main:nth-child(2) div:first-child section:first-child div:nth-child(6) a:first-child p:first-child{
        text-align: center;
        color: white;
        font-size: 1.6875rem;
        margin-top: 15px;
        padding-top: 10px;
      }
      
      body main:nth-child(2) div:first-child section:first-child div:nth-child(6){

        border-radius: 10px;
        width: 83vw;
        height: 58px;
        margin-left: 08vw;
        margin-top: 28px;
        background-color: #A2185B;
        margin-bottom: 15px;
        cursor: pointer;
      }

     

      body main:nth-child(2) div:nth-child(2) {
        font-size: 1.6875rem;
        margin-top: 30px;
      }
      body main:nth-child(2) div:nth-child(2) p:nth-child(1){
        font-size: 1.6875rem;
        margin-left: 06vw;
        margin-top: 30px;
      }
      body main:nth-child(2) div:nth-child(2) p:nth-child(3){
        font-size: 1.6875rem;
        margin-left: 6vw;
        margin-top: 30px;
      }
      body main:nth-child(2) div:nth-child(2) p:nth-child(2){
        font-size: 1.6875rem;
        margin-left: 11vw;
        margin-top: 30px;
      }

      body main:nth-child(2) div:nth-child(2) p:nth-child(4){
        font-size: 1.5625rem;
        margin-left: 11vw;
        margin-top: 22px;
      }
      
      body main:nth-child(2) div:nth-child(2) h2:nth-child(5){
        font-size: 1.625rem;
        text-align: center;
        margin-top: 60px;
        margin-top: 22px;
        font-weight: bold;
        color: #1B1B1D;
      }

      body main:nth-child(2) img:nth-child(3){
        width: 100vw;
        margin-bottom: 20px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child h2:first-child{
        margin-left: 06vw;
        font-size: 2.4375rem;
        font-weight: 600;
        color: #1B1B1D  ;
      }

      

      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(3) img:nth-child(2){
        width: 34vw;
        height: 46vw;
        margin-left: 63vw;
        margin-top: -195px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(3) p:first-child{
        font-size: 1.4375rem;
        margin-top: 48px;
        margin-bottom: -134px;
        margin-left: 4vw;
        width: 70vw;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child p:nth-child(5){
        margin-left: 33vw;
        font-size: 1.4375rem;
        margin-top: 151px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child img:nth-child(4){
        width: 38vw;
        height: 38vw;
        margin-bottom: -458px;
        margin-left: -02.5vw;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child p:nth-child(6){
        font-size: 1.4375rem;
        margin-right: 39vw;
        margin-bottom: -252px;
        margin-left: 04vw;
        margin-top: 100px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child img:nth-child(7){
        width: 40vw;
        height: 41vw;
        margin-left: 56vw;
        margin-bottom: 150px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(8){
        border-radius: 10px;
        width: 83vw;
        height: 58px;
        margin-left: 08vw;
        margin-top: 28px;
        background-color: #A2185B;
        margin-bottom: 40px;
        cursor: pointer;
      }



      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(8) a:first-child{
        text-decoration: none;
        color: white;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(8) a:first-child p:first-child{
        text-align: center;
        color: white;
        font-size: 1.6875rem;
        margin-top: 15px;
        padding-top: 10px;
        margin-bottom: 10px;
      }

      body main:nth-child(2) div:nth-child(5) h2:first-child{
        font-size: 3rem;
        margin-left: 06vw;
        margin-top: 15px;
        margin-bottom: 10px;
        color: #A2185B;
        font-weight: bold;
      }
      
      body main:nth-child(2) div:nth-child(5) h3:nth-child(2){
        font-size: 2.2rem;
        margin-left: 30vw;
        margin-top: -21px;
        color: #A2185B;
        font-weight: 300;
      }

      body main:nth-child(2) div:nth-child(5) h4:nth-child(3){
        font-size: 3.375rem;
        margin-left: 06vw;
        margin-bottom: 22px;
        font-weight: bold;
      }

      body main:nth-child(2) div:nth-child(5) div:nth-child(4){
        font-size: 1.3125rem;
        text-align: center;
        margin-left: 06vw;
        margin-bottom: 25px;
      }

      body main:nth-child(2) div:nth-child(5) div:nth-child(4) p:nth-child(2){
        margin-top: -29px;
        margin-bottom: -29px;
      }
      
      body main:nth-child(2) div:nth-child(5) div:nth-child(5) h3:first-child{
        margin-bottom: -11px;
        font-weight: 500;
      }
      
      body main:nth-child(2) div:nth-child(5) div:nth-child(5){
        font-size: 1.625rem;
        margin-left: 06vw;
      }

      

      body main:nth-child(2) div:nth-child(5) div:nth-child(5) h2:nth-child(2){
        margin-bottom: 20px;
        margin-top: 10px;
        color: #A2185B;
        font-weight: 900;
      }
      body main:nth-child(2) div:nth-child(5) section:nth-child(7) img:first-child{
        margin-top: 52px;
      }
      body main:nth-child(2) div:nth-child(5) section:nth-child(7) h3{
        margin-left: 37vw;
        font-size: 1.4375rem;
        margin-top: -122px;
        font-weight: bold;
        color: #1B1B1D;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) img{
        width: 24vw;
        margin-left: 10vw;
        margin-top: 14vw;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) img:nth-child(7){
        margin-top: 150px;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) p{
       height: 142px;
       margin-left: 39.5vw;
       font-size: 1.4375rem;
       font-weight: 300;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) h3:first-child{
        margin-bottom: -5px;
        margin-top: 22px;
        font-size: 1.9375rem;
        margin-left: 6vw;
        font-weight: 300;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) h2:nth-child(2){
        font-size: 2.5rem;
        margin-top: 5px;
        margin-left: 06vw;
        margin-bottom: 22px;
        color: #A2185B;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(3){
        font-size: 1.75rem;
        margin-left: 6vw;
        margin-bottom: 22px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(4){
        width: 41vw;
        margin-top: 60px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(5){
        font-size: 1.375rem;
        margin-left: 39vw;
        margin-top: -185px;
        margin-bottom: 70px;
       
      }
    
      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(6){
        font-size: 1.375rem; 
        margin-bottom: -24px; 
        width: 52vw;
        margin-left: 6vw;
      }
      
      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(7){
        width: 35vw;
       margin-left: 58vw;
       margin-top: -272px;
       margin-bottom: 200px;
      }
      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(8){
        width: 42vw;
        margin-top: 70px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(9){
        font-size: 1.375rem;
        margin-left: 44vw;
        margin-top: -200px;
        margin-bottom: 70px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(11){
        width: 41vw;
        margin-left: 58vw;
        margin-top: -272px;
        margin-bottom: 150px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(10){
        font-size: 1.375rem;
        margin-bottom: -25px;
        width: 52vw;
        margin-left: 6vw;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(12){
        width: 42vw;
        margin-top: 40px;
        margin-left: 30vw;
        margin-bottom: 170px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(13){
        text-align: center;
        font-size: 1.375rem;
        margin-top: -197px;
        color: #A2185B;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) div:nth-child(14){
        border-radius: 10px;
        width: 86vw;
        height: 58px;
        margin-left: 08vw;
        margin-top: 28px;
        background-color: #A2185B;
        margin-bottom: 20px;
        cursor: pointer;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) div:nth-child(14) a:first-child p:first-child{
        text-align: center;
        color: white;
        font-size: 1.6875rem;
        margin-top: 15px;
        padding-top: 10px;
        margin-bottom: 10px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) div:nth-child(14) a:first-child{
        text-decoration: none;
        color: white;
        
      }

      body main:nth-child(2) div:nth-child(6) section:first-child h2:first-child{
        font-size: 2.875rem;
        margin-left: 06vw;
        color: #A2185B;
      }

      body main:nth-child(2) div:nth-child(5) img:nth-child(10){
        width: 100vw;
        margin-bottom: 20px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child img{
        width: 28vw;
        margin-left: 7vw;
        margin-top: 48px;
      }
      body main:nth-child(2) div:nth-child(6) section:first-child hr{
        margin-bottom: 69px;
        
      }
      body main:nth-child(2) div:nth-child(6) section:first-child img:nth-child(3){
        margin-top: 0px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child h3 {
        font-size: 1.5625rem;
        margin-left: 37vw;
        margin-top: -133px;
        font-weight: bold;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child p{
        margin-left: 37vw;
        margin-top: 5px;
        font-weight: 300;
        width: 60vw;
        height: 98px;
        font-size: 1rem;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child div:nth-child(15){
        border-radius: 10px;
        width: 83vw;
        height: 58px;
        margin-left: 08vw;
        margin-top: 106px;
        background-color: #A2185B;
        margin-bottom: 40px;
        cursor: pointer;
      }
      body main:nth-child(2) div:nth-child(6) section:first-child div:nth-child(15) a:first-child{
        text-decoration: none;
        color: white;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child div:nth-child(15) a:first-child p:first-child{
        text-align: center;
        color: white;
        font-size: 1.6875rem;
        margin-top: 15px;
        padding-top: 10px;
        margin-bottom: 10px;
        margin-left: 1vw;
        width: 81vw;
        height: 43px;
      }
    
    body footer:nth-child(3){
      color: white;
      background-color: #D7729B;
      width: 100vw;
      height: 240px;
    }

    body footer:nth-child(3) div:first-child{
      margin-left: 2vw;
    }

    body footer:nth-child(3) div:first-child h2:first-child{
      font-size: 1.6875rem;  
      width: 70vw;
      margin-bottom: 22px;
    }
    body footer:nth-child(3) div:first-child address:nth-child(2) p:first-child{
      margin-top: -21px;
      margin-bottom: -16px;
    }

    body footer:nth-child(3) div:first-child{
      height: 219px;
      width: 90vw;
    }

    body footer:nth-child(3) div:first-child address:nth-child(2) p:nth-child(3){
      margin-bottom: 4px;
      width: 38vw;
    }

    body footer:nth-child(3) div:first-child a{
      text-decoration: none;
    }

    body footer:nth-child(3) div:first-child a img{
      width: 11vw;
      height: 11vw;
    }

    body footer:nth-child(3) div:first-child a:last-child img{
      width: 45vw;
      margin-top: -97vw;
      margin-left: 50vw;
      margin-bottom: 25px;
      height: 230px;
    }

    body footer:nth-child(3) div:first-child address:nth-child(2){
      width: 90vw;
      color: white;
    }
      hr{
        border-top: 5px dotted black;
        margin-bottom: 34px;
        margin-top: 30px;
        width: 86vw;
        margin-left: 6vw;
      }
}
