

@media (max-width: 480px) 
{
 
 *{
font-family: Montserrat;
}

    .facet_sidebar
    {
     display: none;
    }

  body{
    overflow: auto;
  }
  header div a{
      color: white;
  }
  .facet_sidebar{
      display: none;
  }
  #painel-menu { 
      display : block;
      position: absolute;
      top     : 2px;
      right   : 20px;
      z-index : 1;
    }
  
    #painel-menu a {
      text-decoration: none;
      color          : black;
    }
    #painel-menu input {
      display : block;
      width   : 40px;
      height  : 40px;
      position: absolute;
      top     : 21px;
      left    : -2px;
      cursor  : pointer;
      opacity : 0;
      z-index : 3;
    }
  
    #painel-menu span {
      overflow: hidden;
      display         : block;
      width           : 45px;
      height          : 8px;
      margin-bottom   : 5px;
      border-radius   : 3px;
      background-color: rgb(250, 246, 246);
      position        : relative;
      top             : 21px;
      left: 13px;
      transform-origin: 4px 0px;
      transition      : transform 0.7s ease;
      z-index         : 2;
    }
  
    #painel-menu span:first-child {
      transform-origin: 0 0;
    }
  
    #painel-menu span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  
    #painel-menu input:checked~span {
      opacity         : 1;
      transform       : rotate(45deg) translate(-2px, -1px);
      background-color: #FF87CF;
    }
  
    #painel-menu input:checked~span:nth-last-child(3) {
      opacity  : 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
  
    #painel-menu input:checked~span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
  
    ul {
      list-style-type : none;
      position        : absolute;
      width           : 200px;
      height          : 200px;
      margin          : -100px 0 0 -150px;
      padding         : 105px 0 0 20px;
      background-color: white;
      border: solid 1px #FF87CF;
      transform-origin: 0 0;
      transform       : translate(100%, 0);
      transition      : transform 0.7s ease;
      font-size       : 4.2vw;
      overflow: scroll;
    }
  
    ul li {
      padding  : 10px 0;
      font-size: 22px;
    }
  
    #painel-menu input:checked~ul {
      transform: none;
    } 

      #divisor { 
        background-color: #FF87CF;
        height: 21px;
        width: 100vw;
      }

      body header:first-child{
        background-color: #D7729B;
        height: 73px;
        width: 100vw;
      }

        body header:first-child  div:first-child a:first-child img:first-child{
          margin-bottom: 6px;
          margin-left: -3px;
          margin-right: 25vw;
        }
      
        body header:first-child div:first-child a:nth-child(2) img:first-child{
          height: 80px;
          width: 14vw;
          text-align: center;
          margin-top: -66px; 
        }

       body header:first-child  div:nth-child(2) a:first-child img:first-child{
        height: 72px;
        width: 13vw;
        margin-top: -16px;
       }

       body header:first-child div:nth-child(3) div:first-child h1:first-child{
        text-align: center;
        margin-top: -10px;
       }

       body header:first-child div:nth-child(3) div:first-child p:nth-child(2){
        text-align: center;
       }

       body header:first-child div:nth-child(3) div:first-child img:nth-child(3){
        height: 330px;
        width: 100vw;
       }


       body main:nth-child(2) div:first-child section:first-child h2:first-child{
        margin-top: 559px;
        margin-left: 35vw;
        font-size: 2.4375rem;
       }

       body header:first-child div:nth-child(3){
        background-color: #FFE8F6;
        height: 489px;
       }

      body header:first-child div:nth-child(3) div:first-child div:nth-child(4) img:first-child{
        margin-left: 37vw;
      }

      body header:first-child div:nth-child(3) div:first-child h1:first-child{
        color: #6D123E;
      }
       
      body header:first-child div:nth-child(3) div:first-child p:nth-child(2){
        color: #BD2079;
      }

      body header:first-child div:nth-child(3) div:first-child div:nth-child(4){
        height: 32px;
        margin-top: -11px;
        background-color: #D7729B;
      }

      body main:nth-child(2) div:first-child section:first-child p:nth-child(2){
        font-size: 1.6875rem;
        margin-left: 17vw;
      }

      body main:nth-child(2) div:first-child section:first-child p:nth-child(3){
        font-size: 1.6875rem;
        margin-left: 06vw;
      }

      body main:nth-child(2) div:first-child section:first-child h2:nth-child(4){
        text-align: center;
        font-size: 2.0625rem;
      }
      body main:nth-child(2) div:first-child section:first-child div:nth-child(5) img{
        width: 38vw;

      }
      body main:nth-child(2) div:first-child section:first-child div:nth-child(5){
        margin-left: 09vw;
      }
      
      body main:nth-child(2) div:first-child section:first-child div:nth-child(6) a:first-child{
        text-decoration: none;
        color: inherit;
      }

      body main:nth-child(2) div:first-child section:first-child div:nth-child(6) a:first-child p:first-child{
        text-align: center;
        color: white;
        font-size: 1.6875rem;
        margin-top: 15px;
      }
      
      body main:nth-child(2) div:first-child section:first-child div:nth-child(6){
        border: #F786C6 5px solid;
        border-radius: 40px;
        width: 76vw;
        height: 58px;
        margin-left: 09vw;
        margin-top: 28px;
        background-color: #F786C6;
        margin-bottom: 15px;
        cursor: pointer;
        box-shadow: 0px 0px 16px 5px #f786c6;
      }

      body main:nth-child(2) div:first-child hr:nth-child(2){
        border-top: 5px dotted black;
      }

      body main:nth-child(2) div:nth-child(2) {
        font-size: 1.6875rem;
      }
      
      body main:nth-child(2) div:nth-child(2) p:nth-child(2){
        font-size: 1.6875rem;
        margin-left: 05vw;
      }

      body main:nth-child(2) div:nth-child(2) p:nth-child(4){
        font-size: 1.5625rem;
        margin-left: 05vw;
      }
      
      body main:nth-child(2) div:nth-child(2) h2:nth-child(5){
        font-size: 1.625rem;
        text-align: center;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child h2:first-child{
        margin-left: 04vw;
        font-size: 2.4375rem;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child hr:nth-child(2){
        border-top: 5px dotted black;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(3) img:nth-child(2){
        width: 34vw;
        height: 224px;
        margin-left: 70vw;
        margin-top: -195px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(3) p:first-child{
        font-size: 1.4375rem;
        margin-top: 48px;
        margin-bottom: -134px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child p:nth-child(5){
        margin-left: 33vw;
        font-size: 1.4375rem;
        margin-top: 101px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child img:nth-child(4){
        width: 38vw;
        height: 185px;
        margin-bottom: -458px;
        margin-left: -02.5vw;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child p:nth-child(6){
        font-size: 1.4375rem;
        margin-right: 39vw;
        margin-bottom: -252px;
        margin-left: 04vw;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child img:nth-child(7){
        width: 40vw;
        height: 200px;
        margin-left: 56vw;
        margin-bottom: 150px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(8){
      border: #F786C6 5px solid;
      border-radius: 40px;
      width: 75vw;
      height: 58px;
      background-color: #F786C6;
      margin-left: 44px;
      margin-bottom: 56px;
      cursor: pointer;
      box-shadow: 0px 0px 16px 5px #f786c6;
      }



      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(8) a:first-child{
        text-decoration: none;
        color: white;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(8) a:first-child p:first-child{
        text-align: center;
        font-size: 1.6875rem;
        margin-top: 15px;
      }

      body main:nth-child(2) div:nth-child(5) h2:first-child{
        font-size: 3rem;
        margin-left: 04vw;
        margin-top: 15px;
      }
      
      body main:nth-child(2) div:nth-child(5) h3:nth-child(2){
        font-size: 3rem;
        margin-left: 04vw;
        margin-top: -46px;
        margin-bottom: -50px;
      }

      body main:nth-child(2) div:nth-child(5) h4:nth-child(3){
        font-size: 3.375rem;
        margin-left: 04vw;
      }

      body main:nth-child(2) div:nth-child(5) div:nth-child(4){
        font-size: 1.3125rem;
        text-align: center;
        margin-left: 04vw;
      }

      body main:nth-child(2) div:nth-child(5) div:nth-child(4) p:nth-child(2){
        margin-top: -29px;
        margin-bottom: -29px;
      }
      
      body main:nth-child(2) div:nth-child(5) div:nth-child(5) h3:first-child{
        margin-bottom: -11px;
      }
      
      body main:nth-child(2) div:nth-child(5) div:nth-child(5){
        font-size: 1.625rem;
        margin-left: 04vw;
      }

      body main:nth-child(2) div:nth-child(5) hr:nth-child(6){
        border-top: 5px dotted black;
        margin-bottom: 50px;
      }

      body main:nth-child(2) div:nth-child(5) div:nth-child(5) h2:nth-child(2){
        margin-bottom: 20px;
        margin-top: 10px;
      }
      
      body main:nth-child(2) div:nth-child(5) section:nth-child(7) h3:nth-child(2){
        font-size: 1.75rem;
         margin-left: 25vw;
        margin-top: -104px;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) img:first-child{
        width: 22vw;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) p:nth-child(3){
        margin-left: 27vw;
        margin-top: 55px;
        font-size: 1.9375rem;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) img:nth-child(4){
        width: 22vw;
        margin-top: 40px;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) h3:nth-child(5){
        font-size: 1.75rem;
        margin-left: 25vw;
        margin-top: -104px;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) p:nth-child(6){
        margin-left: 27vw;
        margin-top: -21px;
        font-size: 1.75rem;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) img:nth-child(7){
        width: 22vw;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) h3:nth-child(8){
        font-size: 1.75rem;
        margin-left: 25vw;
        margin-top: -104px;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) p:nth-child(9){
        margin-left: 27vw;
        margin-top: -21px;
        font-size: 1.75rem;
      }

      body main:nth-child(2) div:nth-child(5) hr:nth-child(8){
        border-top: 5px dotted black;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) h3:first-child{
        margin-bottom: -36px;
        font-size: 1.9375rem;
        margin-left: 10vw;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) h2:nth-child(2){
        font-size: 2.5rem;
        text-align: center;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(3){
        font-size: 1.75rem;
        margin-left: 1vw;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(4){
        width: 41vw;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(5){
        font-size: 1.375rem;
        margin-left: 39vw;
        margin-top: -185px;
        margin-bottom: 70px;
      }
    
      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(6){
        font-size: 1.375rem; 
        margin-bottom: -24px; 
        width: 52vw;
      }
      
      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(7){
        width: 35vw;
       margin-left: 58vw;
       margin-top: -272px;
       margin-bottom: 250px;
      }
      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(8){
        width: 42vw;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(9){
        font-size: 1.375rem;
        margin-left: 44vw;
        margin-top: -200px;
        margin-bottom: 70px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(11){
        width: 41vw;
        margin-left: 58vw;
        margin-top: -272px;
        margin-bottom: 250px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(10){
        font-size: 1.375rem;
        margin-bottom: -25px;
        width: 52vw;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(12){
        width: 42vw;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(13){
        margin-left: 44vw;
        font-size: 1.375rem;
        margin-top: -197px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) div:nth-child(14){
        border: #F786C6 5px solid;
        border-radius: 40px;
        width: 76vw;
        height: 58px;
        background-color: #F786C6;
        margin-bottom: 50px;
        margin-top: 35px; 
        margin-left: 10vw;
        cursor: pointer;
        box-shadow: 0px 0px 16px 5px #f786c6;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) div:nth-child(14) a:first-child p:first-child{
        text-align: center;
        font-size: 1.6875rem;
        margin-top: 15px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) div:nth-child(14) a:first-child{
        text-decoration: none;
        color: white;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child h2:first-child{
        font-size: 2.875rem;
        margin-left: 04vw;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child hr:nth-child(2){
        border-top: 5px dotted black;
        margin-bottom: 20px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child img:nth-child(3){
        width: 52vw;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child p:nth-child(4){
        font-size: 1.625rem;
        margin-left: 55vw;
        margin-top: -202px;
        margin-bottom: 70px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child img:nth-child(6){
        width: 52vw;
        margin-left: 48vw;
        margin-top: -235px;
        margin-bottom: 64px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child p:nth-child(5){
        font-size: 1.625rem;
        text-align: right;
        margin-right: 48vw;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child img:nth-child(7){
        width: 45vw;
        margin-top: 90px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child p:nth-child(8){
        font-size: 1.625rem;
        margin-left: 48vw;
        margin-top: -205px;
        margin-bottom: 60px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child p:nth-child(9){
        font-size: 1.625rem;
        text-align: right;
        margin-right: 46vw;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child img:nth-child(10){
        width: 52vw;
        margin-left: 46vw;
        margin-top: -211px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child div:nth-child(11){
        border: #F786C6 5px solid;
        border-radius: 40px;
        width: 76vw;
        height: 58px;
        background-color: #F786C6;
        margin-bottom: 50px;
        margin-top: 35px;
        margin-left: 10vw;
        cursor: pointer;
        box-shadow: 0px 0px 16px 5px #f786c6;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child div:nth-child(11) a:first-child{
        text-decoration: none;
        color: white;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child div:nth-child(11) a:first-child p:first-child{
        text-align: center;
        font-size: 1.6875rem;
        margin-top: 15px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child hr:nth-child(12){
          border-top: black 5px dotted;
      }
      
      body footer:nth-child(3) div:first-child{
        color: white;
        background-color: #FF87CF;
      }

      body footer:nth-child(3) div:first-child h2:first-child{
        font-size: 1.6875rem;  
        width: 70vw;
      }

      body footer:nth-child(3) img:nth-child(2){
        width: 44vw;
        margin-top: -302px;
        margin-left: 52vw;
        margin-bottom: 74px;
      }
      
      body footer:nth-child(3) div:first-child address:nth-child(2) p:first-child{
        margin-top: -21px;
        margin-bottom: -35px;
      }

      body footer:nth-child(3) div:first-child{
        height: 219px;
      }

      body footer:nth-child(3) div:first-child address:nth-child(2) p:nth-child(3){
        margin-bottom: 4px;
      }

      

      



      



      

      

      

      

      

      


      





      

      

}
