

@media (max-width: 480px) 
{
  *{
    font-family: Montserrat;
    }
    .facet_sidebar
    {
     display: none;
    }
  header div a{
      color: white;
  }
  .facet_sidebar{
      display: none;
  }
  #painel-menu { 
      display : block;
      position: absolute;
      top     : 2px;
      right   : 20px;
      z-index : 1;
    }
  
    #painel-menu a {
      text-decoration: none;
      color          : black;
    }
    #painel-menu input {
      display : block;
      width   : 40px;
      height  : 40px;
      position: absolute;
      top     : 20px;
      left    : -2px;
      cursor  : pointer;
      opacity : 0;
      z-index : 3;
    }
  
    #painel-menu span {
      display         : block;
      width           : 45px;
      height          : 8px;
      margin-bottom   : 5px;
      border-radius   : 3px;
      background-color: rgb(250, 246, 246);
      position        : relative;
      top             : 20px;
      transform-origin: 4px 0px;
      transition      : transform 0.7s ease;
      z-index         : 2;
    }
  
    #painel-menu span:first-child {
      transform-origin: 0 0;
    }
  
    #painel-menu span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  
    #painel-menu input:checked~span {
      opacity         : 1;
      transform       : rotate(45deg) translate(-2px, -1px);
      background-color: #FF87CF;
    }
  
    #painel-menu input:checked~span:nth-last-child(3) {
      opacity  : 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
  
    #painel-menu input:checked~span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
  
    ul {
      list-style-type : none;
      position        : absolute;
      width           : 200px;
      height          : 200px;
      margin          : -100px 0 0 -130px;
      padding         : 105px 0 0 20px;
      background-color: white;
      border: solid 1px #FF87CF;
      transform-origin: 0 0;
      transform       : translate(100%, 0);
      transition      : transform 0.7s ease;
      font-size       : 4.2vw;
    }
  
    ul li {
      padding  : 10px 0;
      font-size: 22px;
    }
  
    #painel-menu input:checked~ul {
      transform: none;
    } 

      #divisor { 
        background-color: #FF87CF;
        height: 21px;
        width: 480px;
      }

      body header:first-child{
        background-color: #D7729B;
        height: 73px;
        width: 471px;
      }

        body header:first-child  div:first-child a:first-child img:first-child{
          margin-bottom: 11px;
        }
      
        body header:first-child div:first-child a:nth-child(2) img:first-child{
          height: 80px;
          width: 76px;
          margin-left: 126px;
          margin-top: -66px; 
        }

       body header:first-child  div:nth-child(2) a:first-child img:first-child{
        height: 72px;
        width: 64px;
        margin-top: -16px;
       }

       body header:first-child div:nth-child(3) div:first-child h1:first-child{
        text-align: center;
        margin-top: -10px;
       }

       body header:first-child div:nth-child(3) div:first-child p:nth-child(2){
        text-align: center;
       }

       body header:first-child div:nth-child(3) div:first-child img:nth-child(3){
        height: 330px;
        width: 471px;
       }


       body main:nth-child(2) div:first-child section:first-child h2:first-child{
        margin-top: 559px;
        margin-left: 170px;
        font-size: 39px;
       }

       body header:first-child div:nth-child(3){
        background-color: #FFE8F6;
        height: 489px;
       }

      body header:first-child div:nth-child(3) div:first-child div:nth-child(4) img:first-child{
        margin-left: 182px;
      }

      body header:first-child div:nth-child(3) div:first-child h1:first-child{
        color: #6D123E;
      }
       
      body header:first-child div:nth-child(3) div:first-child p:nth-child(2){
        color: #BD2079;
      }

      body header:first-child div:nth-child(3) div:first-child div:nth-child(4){
        height: 32px;
        margin-top: -11px;
        background-color: #D7729B;
      }

      body main:nth-child(2) div:first-child section:first-child p:nth-child(2){
        font-size: 27px;
        margin-left: 84px;
      }

      body main:nth-child(2) div:first-child section:first-child p:nth-child(3){
        font-size: 27px;
        margin-left: 30px;
      }

      body main:nth-child(2) div:first-child section:first-child h2:nth-child(4){
        text-align: center;
        font-size: 33px;
      }
    
      body main:nth-child(2) div:first-child section:first-child div:nth-child(5){
        margin-left: 46px;
      }
      
      body main:nth-child(2) div:first-child section:first-child div:nth-child(6) a:first-child{
        text-decoration: none;
        color: inherit;
      }

      body main:nth-child(2) div:first-child section:first-child div:nth-child(6) a:first-child p:first-child{
        text-align: center;
        color: white;
        font-size: 27px;
        margin-top: 15px;
      }
      
      body main:nth-child(2) div:first-child section:first-child div:nth-child(6){
        border: #F786C6 5px solid;
        border-radius: 40px;
        width: 365px;
        height: 58px;
        margin-left: 44px;
        margin-top: 28px;
        background-color: #F786C6;
        margin-bottom: 15px;
        cursor: pointer;
        box-shadow: 0px 0px 16px 5px #f786c6;
      }

      body main:nth-child(2) div:first-child hr:nth-child(2){
        border-top: 5px dotted black;
      }

      body main:nth-child(2) div:nth-child(2) {
        font-size: 27px;
      }
      
      body main:nth-child(2) div:nth-child(2) p:nth-child(2){
        font-size: 27px;
        margin-left: 26px;
      }

      body main:nth-child(2) div:nth-child(2) p:nth-child(4){
        font-size: 25px;
        margin-left: 26px;
      }
      
      body main:nth-child(2) div:nth-child(2) h2:nth-child(5){
        font-size: 26px;
        text-align: center;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child h2:first-child{
        margin-left: 21px;
        font-size: 39px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child hr:nth-child(2){
        border-top: 5px dotted black;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(3) img:nth-child(2){
        width: 166px;
        height: 224px;
        margin-left: 309px;
        margin-top: -195px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(3) p:first-child{
        font-size: 23px;
        margin-top: 48px;
        margin-bottom: -134px;
        margin-left: 21px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child p:nth-child(5){
        margin-left: 163px;
        font-size: 23px;
        margin-top: 101px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child img:nth-child(4){
        width: 187px;
        height: 185px;
        margin-bottom: -458px;
        margin-left: -12px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child p:nth-child(6){
        font-size: 23px;
        margin-right: 190px;
        margin-bottom: -252px;
        margin-left: 21px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child img:nth-child(7){
        width: 238px;
        height: 200px;
        margin-left: 295px;
        margin-bottom: 150px;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(8){
      border: #F786C6 5px solid;
      border-radius: 40px;
      width: 365px;
      height: 58px;
      background-color: #F786C6;
      margin-left: 44px;
      margin-bottom: 56px;
      cursor: pointer;
      box-shadow: 0px 0px 16px 5px #f786c6;
      }



      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(8) a:first-child{
        text-decoration: none;
        color: white;
      }

      body main:nth-child(2) div:nth-child(4) article:first-child div:nth-child(8) a:first-child p:first-child{
        text-align: center;
        font-size: 27px;
        margin-top: 15px;
      }

      body main:nth-child(2) div:nth-child(5) h2:first-child{
        font-size: 54px;
        margin-left: 22px;
        margin-top: 15px;
      }
      
      body main:nth-child(2) div:nth-child(5) h3:nth-child(2){
        font-size: 38px;
        margin-left: 173px;
        margin-top: -46px;
        margin-bottom: -50px;
      }

      body main:nth-child(2) div:nth-child(5) h4:nth-child(3){
        font-size: 54px;
        margin-left: 21px;
      }

      body main:nth-child(2) div:nth-child(5) div:nth-child(4){
        font-size: 21px;
        text-align: center;
        margin-left: 23px;
      }

      body main:nth-child(2) div:nth-child(5) div:nth-child(4) p:nth-child(2){
        margin-top: -29px;
        margin-bottom: -29px;
      }
      
      body main:nth-child(2) div:nth-child(5) div:nth-child(5) h3:first-child{
        margin-bottom: -11px;
      }
      
      body main:nth-child(2) div:nth-child(5) div:nth-child(5){
        font-size: 26px;
        margin-left: 21px;
      }

      body main:nth-child(2) div:nth-child(5) hr:nth-child(6){
        border-top: 5px dotted black;
        margin-bottom: 50px;
      }

      body main:nth-child(2) div:nth-child(5) div:nth-child(5) h2:nth-child(2){
        margin-bottom: 20px;
        margin-top: 10px;
      }
      
      body main:nth-child(2) div:nth-child(5) section:nth-child(7) h3:nth-child(2){
        font-size: 28px;
         margin-left: 120px;
        margin-top: -104px;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) img:first-child{
        width: 107px;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) p:nth-child(3){
        margin-left: 130px;
        margin-top: 55px;
        font-size: 31px;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) img:nth-child(4){
        width: 107px;
        margin-top: 40px;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) h3:nth-child(5){
        font-size: 28px;
        margin-left: 120px;
        margin-top: -104px;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) p:nth-child(6){
        margin-left: 130px;
        margin-top: -21px;
        font-size: 28px;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) img:nth-child(7){
        width: 107px  ;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) h3:nth-child(8){
        font-size: 28px;
        margin-left: 120px;
        margin-top: -104px;
      }

      body main:nth-child(2) div:nth-child(5) section:nth-child(7) p:nth-child(9){
        margin-left: 130px;
        margin-top: -21px;
        font-size: 28px;
      }

      body main:nth-child(2) div:nth-child(5) hr:nth-child(8){
        border-top: 5px dotted black;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) h3:first-child{
        margin-bottom: -36px;
        font-size: 31px;
        margin-left: 49px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) h2:nth-child(2){
        font-size: 40px;
        text-align: center;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(3){
        font-size: 28px;
        margin-left: 48px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(4){
        width: 200px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(5){
        font-size: 22px;
        margin-left: 190px;
        margin-top: -185px;
        margin-bottom: 70px;
      }
    
      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(6){
        font-size: 22px; 
        margin-bottom: -24px; 
      }
      
      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(7){
        width: 200px;
       margin-left: 280px;
       margin-top: -200px;
       margin-bottom: 70px;
      }
      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(8){
        width: 200px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(9){
        font-size: 22px;
        margin-left: 214px;
        margin-top: -200px;
        margin-bottom: 70px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(11){
        width: 200px;
        margin-left: 280px;
        margin-top: -200px;
        margin-bottom: 70px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(10){
        font-size: 22px;
        margin-bottom: -25px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) img:nth-child(12){
        width: 200px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) p:nth-child(13){
        margin-left: 214px;
        font-size: 22px;
        margin-top: -197px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) div:nth-child(14){
        border: #F786C6 5px solid;
        border-radius: 40px;
        width: 365px;
        height: 58px;
        background-color: #F786C6;
        margin-bottom: 50px;
        margin-left: 52px;
        cursor: pointer;
        box-shadow: 0px 0px 16px 5px #f786c6;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) div:nth-child(14) a:first-child p:first-child{
        text-align: center;
        font-size: 27px;
        margin-top: 15px;
      }

      body main:nth-child(2) div:nth-child(5) article:nth-child(9) div:nth-child(14) a:first-child{
        text-decoration: none;
        color: white;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child h2:first-child{
        font-size: 46px;
        margin-left: 21px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child hr:nth-child(2){
        border-top: 5px dotted black;
        margin-bottom: 20px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child img:nth-child(3){
        width: 250px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child p:nth-child(4){
        font-size: 26px;
        margin-left: 243px;
        margin-top: -202px;
        margin-bottom: 150px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child img:nth-child(6){
        width: 250px;
        margin-left: 225px;
        margin-top: -235px;
        margin-bottom: 64px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child p:nth-child(5){
        font-size: 26px;
        text-align: right;
        margin-right: 234px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child img:nth-child(7){
        width: 250px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child p:nth-child(8){
        font-size: 26px;
        margin-left: 248px;
        margin-top: -233px;
        margin-bottom: 90px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child p:nth-child(9){
        font-size: 26px;
        text-align: right;
        margin-right: 223px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child img:nth-child(10){
        width: 250px;
        margin-left: 225px;
        margin-top: -211px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child div:nth-child(11){
        border: #F786C6 5px solid;
        border-radius: 40px;
        width: 365px;
        height: 58px;
        background-color: #F786C6;
        margin-left: 51px;
        cursor: pointer;
        box-shadow: 0px 0px 16px 5px #f786c6;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child div:nth-child(11) a:first-child{
        text-decoration: none;
        color: white;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child div:nth-child(11) a:first-child p:first-child{
        text-align: center;
        font-size: 27px;
        margin-top: 15px;
      }

      body main:nth-child(2) div:nth-child(6) section:first-child hr:nth-child(12){
          border-top: black 5px dotted;
      }
      
      body footer:nth-child(3) div:first-child{
        color: white;
        background-color: #FF87CF;
      }

      body footer:nth-child(3) div:first-child h2:first-child{
        font-size: 27px;  
      }

      body footer:nth-child(3) img:nth-child(2){
        width: 214px;
        margin-top: -302px;
        margin-left: 254px;
      }
      
      body footer:nth-child(3) div:first-child address:nth-child(2) p:first-child{
        margin-top: -21px;
        margin-bottom: -35px;
      }

      body footer:nth-child(3) div:first-child{
        height: 219px;
      }

      body footer:nth-child(3) div:first-child address:nth-child(2) p:nth-child(3){
        margin-bottom: 4px;
      }
}
